USE [tata_tertib]
GO
/****** Object:  Table [dbo].[akun]    Script Date: 12/30/2024 11:46:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[akun](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[mahasiswa_id] [int] NULL,
	[dosen_id] [int] NULL,
 CONSTRAINT [PK_akun] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dosen]    Script Date: 12/30/2024 11:46:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dosen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](50) NOT NULL,
	[nidn] [varchar](10) NOT NULL,
	[jk] [nvarchar](10) NULL,
	[alamat] [varchar](255) NULL,
	[email] [varchar](50) NULL,
	[foto_dosen] [varchar](500) NULL,
 CONSTRAINT [PK_dosen] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[laporan]    Script Date: 12/30/2024 11:46:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[laporan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dosen_id] [int] NULL,
	[mhs_id] [int] NULL,
	[tgl_laporan] [date] NULL,
	[pelanggaran_id] [int] NULL,
	[foto_pelanggaran] [varchar](255) NULL,
	[tingkat_sanksi] [int] NULL,
	[status_verifikasi] [bit] NULL,
	[tgl_verifikasi] [date] NULL,
	[file_sanksi] [varchar](255) NULL,
	[dpa_id] [int] NULL,
 CONSTRAINT [PK_laporan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mahasiswa]    Script Date: 12/30/2024 11:46:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mahasiswa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](50) NOT NULL,
	[nim] [varchar](10) NOT NULL,
	[jk] [nvarchar](10) NULL,
	[ttl] [varchar](255) NULL,
	[alamat] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[prodi] [varchar](4) NOT NULL,
	[kelas] [varchar](2) NOT NULL,
	[dpa_id] [int] NULL,
	[foto_mahasiswa] [varchar](500) NULL,
 CONSTRAINT [PK_mahasiswa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pelanggaran]    Script Date: 12/30/2024 11:46:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelanggaran](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[deskripsi] [varchar](300) NOT NULL,
	[tingkat_sanksi] [int] NULL,
 CONSTRAINT [PK_pelanggaran] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tingkat]    Script Date: 12/30/2024 11:46:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tingkat](
	[tingkat] [int] NOT NULL,
	[deskripsi] [varchar](255) NOT NULL,
	[surat_sanksi] [varchar](255) NULL,
 CONSTRAINT [PK_tingkat] PRIMARY KEY CLUSTERED 
(
	[tingkat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[akun] ON 

INSERT [dbo].[akun] ([id], [username], [password], [role], [mahasiswa_id], [dosen_id]) VALUES (1, N'mungki', N'$2y$10$icoSEFmlr9aUPd7uIdIg..LbEpszpPFfURWPa4l7fCWO6BAnI9emu', N'admin', NULL, 25)
INSERT [dbo].[akun] ([id], [username], [password], [role], [mahasiswa_id], [dosen_id]) VALUES (2, N'cahya', N'$2y$10$5FDC9fZcZnkwBEEIrwJzAuF6oLqoT5HifqhZxsv.s8130ZCsmbD4G', N'dosen', NULL, 1)
INSERT [dbo].[akun] ([id], [username], [password], [role], [mahasiswa_id], [dosen_id]) VALUES (3, N'rawansyah', N'$2y$10$x/fp32TdP14g9nGpNg6qYeWm6LIDaEXhzUK3d3E0BCnm4PUq5RhoS', N'dosen', NULL, 2)
SET IDENTITY_INSERT [dbo].[akun] OFF
GO
SET IDENTITY_INSERT [dbo].[dosen] ON 

INSERT [dbo].[dosen] ([id], [nama], [nidn], [jk], [alamat], [email], [foto_dosen]) VALUES (1, N'Cahya Rahmad, ST., M.Kom., Dr. Eng', N'1990112481', N'Laki-laki', N'Malang', N'VitZuraida@polinema.ac.id', N'../../view/img/dosen/cahya.png')
INSERT [dbo].[dosen] ([id], [nama], [nidn], [jk], [alamat], [email], [foto_dosen]) VALUES (2, N'Rawansyah, Drs., M.Pd', N'1989011011', N'Laki-laki', N'Malang', N'rawansyah@polinema.ac.id', N'../../view/img/dosen/rawansyah.png')
INSERT [dbo].[dosen] ([id], [nama], [nidn], [jk], [alamat], [email], [foto_dosen]) VALUES (3, N'Widaningsih, S.Psi, SH., MH', N'1990151034', N'Perempuan', N'Malang', N'widaningsih@polinema.ac.id', N'../../view/img/dosen/widaningsih.png')
SET IDENTITY_INSERT [dbo].[dosen] OFF
GO
SET IDENTITY_INSERT [dbo].[laporan] ON 

INSERT [dbo].[laporan] ([id], [dosen_id], [mhs_id], [tgl_laporan], [pelanggaran_id], [foto_pelanggaran], [tingkat_sanksi], [status_verifikasi], [tgl_verifikasi], [file_sanksi], [dpa_id]) VALUES (1, 2, 14, CAST(N'2024-11-30' AS Date), 3, NULL, 4, 1, CAST(N'2024-11-30' AS Date), NULL, 7)
INSERT [dbo].[laporan] ([id], [dosen_id], [mhs_id], [tgl_laporan], [pelanggaran_id], [foto_pelanggaran], [tingkat_sanksi], [status_verifikasi], [tgl_verifikasi], [file_sanksi], [dpa_id]) VALUES (2, 10, 5, CAST(N'2024-12-01' AS Date), 7, NULL, 3, 1, CAST(N'2024-12-03' AS Date), NULL, 3)
INSERT [dbo].[laporan] ([id], [dosen_id], [mhs_id], [tgl_laporan], [pelanggaran_id], [foto_pelanggaran], [tingkat_sanksi], [status_verifikasi], [tgl_verifikasi], [file_sanksi], [dpa_id]) VALUES (5, 5, 1, CAST(N'2024-11-15' AS Date), 6, NULL, 4, 1, CAST(N'2024-12-28' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[laporan] OFF
GO
SET IDENTITY_INSERT [dbo].[mahasiswa] ON 

INSERT [dbo].[mahasiswa] ([id], [nama], [nim], [jk], [ttl], [alamat], [email], [prodi], [kelas], [dpa_id], [foto_mahasiswa]) VALUES (1, N'MUHAMMAD JAMAL', N'2341760029', N'Laki-laki', N'Malang,12 November 2006', N'Malang', N'muh@gmail.com', N'TI', N'1A', 1, N'https://blogger.googleusercontent.com/img/a/AVvXsEhS1pBqn2ogmO1RHEFD9N57B0Q2P_H9_jktKE7zwdOgx6hxCrfmgzIz5PQR1P2k_RmO3pnBsssQXr_SZ2Yhk9wXEnSsvetvm6RuYCXm7bp2MPkoqGEN2Bd09avGvejhcgLpi4C6_7IjZosWr7-WbIo_QuLdvC0vU_eDWbxbQS9u9KWGzJThLOE-sMXiQ3w')
INSERT [dbo].[mahasiswa] ([id], [nama], [nim], [jk], [ttl], [alamat], [email], [prodi], [kelas], [dpa_id], [foto_mahasiswa]) VALUES (2, N'ADAM NUR ALIFI', N'2341760158', N'Laki-laki', N'Surabaya, 10 November 2006', N'Surabaya', N'adam11@gmail.com', N'TI', N'1A', 1, N'https://blogger.googleusercontent.com/img/a/AVvXsEhS1pBqn2ogmO1RHEFD9N57B0Q2P_H9_jktKE7zwdOgx6hxCrfmgzIz5PQR1P2k_RmO3pnBsssQXr_SZ2Yhk9wXEnSsvetvm6RuYCXm7bp2MPkoqGEN2Bd09avGvejhcgLpi4C6_7IjZosWr7-WbIo_QuLdvC0vU_eDWbxbQS9u9KWGzJThLOE-sMXiQ3w')
INSERT [dbo].[mahasiswa] ([id], [nama], [nim], [jk], [ttl], [alamat], [email], [prodi], [kelas], [dpa_id], [foto_mahasiswa]) VALUES (3, N'ADIT BAGUS SADEWA', N'2341760149', N'Laki-laki', N'Tuban, 6 Juni 2005', N'Tuban', N'ditadit@gmail.com', N'TI', N'1B', 2, N'https://blogger.googleusercontent.com/img/a/AVvXsEhS1pBqn2ogmO1RHEFD9N57B0Q2P_H9_jktKE7zwdOgx6hxCrfmgzIz5PQR1P2k_RmO3pnBsssQXr_SZ2Yhk9wXEnSsvetvm6RuYCXm7bp2MPkoqGEN2Bd09avGvejhcgLpi4C6_7IjZosWr7-WbIo_QuLdvC0vU_eDWbxbQS9u9KWGzJThLOE-sMXiQ3w')
SET IDENTITY_INSERT [dbo].[mahasiswa] OFF
GO
SET IDENTITY_INSERT [dbo].[pelanggaran] ON 

INSERT [dbo].[pelanggaran] ([id], [deskripsi], [tingkat_sanksi]) VALUES (1, N'Berkomunikasi dengan tidak sopan, baik tertulis atau tidak tertulis kepada mahasiswa, dosen, karyawan, atau orang lain
', 5)
INSERT [dbo].[pelanggaran] ([id], [deskripsi], [tingkat_sanksi]) VALUES (2, N'Berbusana tidak sopan dan tidak rapi. Seperti: berpakaian ketat, transparan, memakai t-shirt (baju kaos tidak berkerah), tank top, hipster, you can see, rok mini, backless, celana pendek, celana tiga per empat, legging, model celana atau baju koyak, sandal, sepatu sandal di lingkungan kampus.', 4)
INSERT [dbo].[pelanggaran] ([id], [deskripsi], [tingkat_sanksi]) VALUES (3, N'Mahasiswa laki-laki berambut tidak rapi, gondrong yaitu panjang
 rambutnya melewati batas alis mata di bagian depan, telinga di bagian samping dan menyentuh kerah baju di bagian leher
.', 4)
SET IDENTITY_INSERT [dbo].[pelanggaran] OFF
GO
INSERT [dbo].[tingkat] ([tingkat], [deskripsi], [surat_sanksi]) VALUES (1, N'Diberi Surat Peringatan 2', N'../../view//img/master/berita_acara_tatib_jti.pdf')
INSERT [dbo].[tingkat] ([tingkat], [deskripsi], [surat_sanksi]) VALUES (2, N'Skorsing 3 minggu', N'../../view//img/master/berita_acara_tatib_jti.pdf')
INSERT [dbo].[tingkat] ([tingkat], [deskripsi], [surat_sanksi]) VALUES (3, N'Diberi Surat Peringatan 1', N'../../view//img/master/berita_acara_tatib_jti.pdf')
GO
ALTER TABLE [dbo].[akun]  WITH NOCHECK ADD  CONSTRAINT [FK_akun_dosen] FOREIGN KEY([dosen_id])
REFERENCES [dbo].[dosen] ([id])
GO
ALTER TABLE [dbo].[akun] CHECK CONSTRAINT [FK_akun_dosen]
GO
ALTER TABLE [dbo].[akun]  WITH CHECK ADD  CONSTRAINT [FK_akun_mahasiswa] FOREIGN KEY([mahasiswa_id])
REFERENCES [dbo].[mahasiswa] ([id])
GO
ALTER TABLE [dbo].[akun] CHECK CONSTRAINT [FK_akun_mahasiswa]
GO
ALTER TABLE [dbo].[laporan]  WITH CHECK ADD  CONSTRAINT [FK_laporan_dosen] FOREIGN KEY([dosen_id])
REFERENCES [dbo].[dosen] ([id])
GO
ALTER TABLE [dbo].[laporan] CHECK CONSTRAINT [FK_laporan_dosen]
GO
ALTER TABLE [dbo].[laporan]  WITH CHECK ADD  CONSTRAINT [FK_laporan_mahasiswa] FOREIGN KEY([mhs_id])
REFERENCES [dbo].[mahasiswa] ([id])
GO
ALTER TABLE [dbo].[laporan] CHECK CONSTRAINT [FK_laporan_mahasiswa]
GO
ALTER TABLE [dbo].[laporan]  WITH CHECK ADD  CONSTRAINT [FK_laporan_pelanggaran] FOREIGN KEY([pelanggaran_id])
REFERENCES [dbo].[pelanggaran] ([id])
GO
ALTER TABLE [dbo].[laporan] CHECK CONSTRAINT [FK_laporan_pelanggaran]
GO
ALTER TABLE [dbo].[laporan]  WITH CHECK ADD  CONSTRAINT [FK_laporan_tingkat] FOREIGN KEY([tingkat_sanksi])
REFERENCES [dbo].[tingkat] ([tingkat])
GO
ALTER TABLE [dbo].[laporan] CHECK CONSTRAINT [FK_laporan_tingkat]
GO
ALTER TABLE [dbo].[laporan]  WITH CHECK ADD  CONSTRAINT [FK_laporan_verifikasi_dpa] FOREIGN KEY([dpa_id])
REFERENCES [dbo].[dosen] ([id])
GO
ALTER TABLE [dbo].[laporan] CHECK CONSTRAINT [FK_laporan_verifikasi_dpa]
GO
ALTER TABLE [dbo].[mahasiswa]  WITH CHECK ADD  CONSTRAINT [FK_mahasiswa_dosen] FOREIGN KEY([dpa_id])
REFERENCES [dbo].[dosen] ([id])
GO
ALTER TABLE [dbo].[mahasiswa] CHECK CONSTRAINT [FK_mahasiswa_dosen]
GO
ALTER TABLE [dbo].[pelanggaran]  WITH CHECK ADD  CONSTRAINT [FK_pelanggaran_tingkat] FOREIGN KEY([tingkat_sanksi])
REFERENCES [dbo].[tingkat] ([tingkat])
GO
ALTER TABLE [dbo].[pelanggaran] CHECK CONSTRAINT [FK_pelanggaran_tingkat]
GO
ALTER TABLE [dbo].[akun]  WITH CHECK ADD  CONSTRAINT [CK_akun_role] CHECK  (([role]='dosen' OR [role]='mahasiswa' OR [role]='admin'))
GO
ALTER TABLE [dbo].[akun] CHECK CONSTRAINT [CK_akun_role]
GO
ALTER TABLE [dbo].[mahasiswa]  WITH CHECK ADD  CONSTRAINT [CK_jk_mahasiswa] CHECK  (([jk]='Perempuan' OR [jk]='Laki-laki'))
GO
ALTER TABLE [dbo].[mahasiswa] CHECK CONSTRAINT [CK_jk_mahasiswa]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_detail_laporan]    Script Date: 12/30/2024 11:46:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_detail_laporan]
    @id_laporan INT
AS
BEGIN
    -- Mengambil data laporan berdasarkan id_laporan
    SELECT
        l.id AS id_laporan,
		d.nama as nama_dosen,
        l.tgl_laporan AS tanggal_laporan,
        m.nama AS nama_mahasiswa,
        m.prodi,
        m.kelas,
		L.foto_pelanggaran,
        p.deskripsi AS deskripsi_pelanggaran,
        l.tingkat_sanksi,
        t.deskripsi AS deskripsi_sanksi,
		L.file_sanksi,
        l.status_verifikasi,
        l.tgl_verifikasi,
		l.dpa_id
    FROM
        laporan l
    JOIN mahasiswa m ON l.mhs_id = m.id
    LEFT JOIN dosen d ON l.dosen_id = d.id
	INNER JOIN pelanggaran p ON l.pelanggaran_id = p.id
	INNER JOIN tingkat t ON t.tingkat = l.tingkat_sanksi
    WHERE
        l.id = @id_laporan;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_detail_pelanggaran_mahasiswa]    Script Date: 12/30/2024 11:46:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_get_detail_pelanggaran_mahasiswa]
    @mhs_id INT,
	@status_verifikasi BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Deklarasi query dasar
    DECLARE @query NVARCHAR(MAX);

    SET @query = '
    SELECT 
        l.id AS id_laporan,
		l.mhs_id,
        l.tgl_laporan AS tanggal_laporan,
        d_dosen.nama AS nama_dosen,
        m.nama AS nama_mahasiswa,
        m.prodi,
        m.kelas,
        p.deskripsi AS deskripsi_pelanggaran,
        l.tingkat_sanksi,
        t.deskripsi AS deskripsi_sanksi,
		t.surat_sanksi,
		l.file_sanksi,
        l.tgl_laporan,
        l.status_verifikasi, 
        l.tgl_verifikasi,
        m.dpa_id,
        d_dpa.nama AS nama_dpa
    FROM laporan l
    INNER JOIN mahasiswa m ON l.mhs_id = m.id
    INNER JOIN dosen d_dpa ON m.dpa_id = d_dpa.id
    INNER JOIN dosen d_dosen ON l.dosen_id = d_dosen.id
    INNER JOIN pelanggaran p ON l.pelanggaran_id = p.id
    INNER JOIN tingkat t ON l.tingkat_sanksi = t.tingkat
    WHERE l.mhs_id = @mhs_id
';

    -- Tambahkan filter untuk status_verifikasi jika parameter @status_verifikasi diberikan
    IF (@status_verifikasi IS NOT NULL)
    BEGIN
        SET @query = @query + ' AND l.status_verifikasi = @status_verifikasi';
    END

    -- Menambahkan pengurutan berdasarkan tanggal laporan
    SET @query = @query + ' ORDER BY l.tgl_laporan DESC';

    -- Eksekusi query dinamis
    EXEC sp_executesql @query, 
        N'@mhs_id INT, @status_verifikasi BIT', 
        @mhs_id, 
        @status_verifikasi;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_pelanggaran_mahasiswa]    Script Date: 12/30/2024 11:46:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_pelanggaran_mahasiswa]
    @prodi NVARCHAR(4) = NULL,  -- Parameter untuk Prodi (default NULL)
    @kelas NVARCHAR(2) = NULL   -- Parameter untuk Kelas (default NULL)
AS
BEGIN
    -- Deklarasi query dasar
    DECLARE @query NVARCHAR(MAX);

    SET @query = '
        SELECT 
            l.id AS laporan_id,
            l.tgl_laporan AS tanggal_laporan,
            d_dosen.nama AS nama_dosen,
            m.nama AS nama_mahasiswa,
            m.prodi,
            m.kelas,
			p.deskripsi,
            l.tingkat_sanksi,
            t.deskripsi AS deskripsi_sanksi,
            d_dpa.nama AS nama_dpa
        FROM laporan l
        INNER JOIN mahasiswa m ON l.mhs_id = m.id
        INNER JOIN dosen d_dpa ON m.dpa_id = d_dpa.id
        INNER JOIN dosen d_dosen ON l.dosen_id = d_dosen.id
		INNER JOIN pelanggaran p ON l.pelanggaran_id = p.id
        INNER JOIN tingkat t ON l.tingkat_sanksi = t.tingkat
    ';

    -- Menambahkan klausa WHERE berdasarkan parameter yang diterima
    IF @prodi IS NOT NULL AND @kelas IS NOT NULL
    BEGIN
        SET @query = @query + ' WHERE m.prodi = @prodi AND m.kelas = @kelas';
    END
    ELSE IF @prodi IS NOT NULL
    BEGIN
        SET @query = @query + ' WHERE m.prodi = @prodi';
    END
    ELSE IF @kelas IS NOT NULL
    BEGIN
        SET @query = @query + ' WHERE m.kelas = @kelas';
    END

    -- Menambahkan pengurutan berdasarkan tanggal laporan
    SET @query = @query + ' ORDER BY l.tgl_laporan DESC';

    -- Eksekusi query dinamis
    EXEC sp_executesql @query, N'@prodi NVARCHAR(4), @kelas NVARCHAR(2)', @prodi, @kelas;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_get_verifikasi_pelanggaran_mahasiswa]    Script Date: 12/30/2024 11:46:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_verifikasi_pelanggaran_mahasiswa]
    @dpa_id INT                  -- ID DPA dosen
AS
BEGIN
    SET NOCOUNT ON;

    -- Deklarasi query dasar
    DECLARE @query NVARCHAR(MAX);

    SET @query = '
    SELECT 
        l.id AS id_laporan,
        l.tgl_laporan AS tanggal_laporan,
        d_dosen.nama AS nama_dosen,
        m.nama AS nama_mahasiswa,
        m.prodi,
        m.kelas,
        p.deskripsi AS deskripsi_pelanggaran,
        l.tingkat_sanksi,
        t.deskripsi AS deskripsi_sanksi,
        l.tgl_laporan,
        l.status_verifikasi, 
        l.tgl_verifikasi,
        m.dpa_id,   -- Menambahkan kolom dpa_id dari tabel mahasiswa
        d_dpa.nama AS nama_dpa
    FROM laporan l
    INNER JOIN mahasiswa m ON l.mhs_id = m.id
    INNER JOIN dosen d_dpa ON m.dpa_id = d_dpa.id
    INNER JOIN dosen d_dosen ON l.dosen_id = d_dosen.id
    INNER JOIN pelanggaran p ON l.pelanggaran_id = p.id
    INNER JOIN tingkat t ON l.tingkat_sanksi = t.tingkat
    WHERE m.dpa_id = @dpa_id
';


    -- Menambahkan pengurutan berdasarkan tanggal laporan
    SET @query = @query + ' ORDER BY l.tgl_laporan DESC';

    -- Eksekusi query dinamis
    EXEC sp_executesql @query, N'@dpa_id INT', @dpa_id;
END
GO
