body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    margin-left: 0px;
}

.navbar {
    position: fixed;/* Tetap di bagian atas */
    top: 0;/* Melekat pada bagian atas */
    left: 0;/* Melekat pada bagian kiri */
    width: 100%;/* Lebar penuh */
    background-color: white;/* Warna background navbar */
    color: #889CFE;/* Warna teks */
    display: flex;/* Untuk membuat layout horizontal */
    align-items: center;/* Agar elemen vertikal rata tengah */
    padding: 10px;
    z-index: 1000;/* Agar berada di atas elemen lain */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);/* Bayangan untuk estetika */
}

.navbar img {
    width: 36px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
}

.navbar p {
    display: flex;
    margin-left: 15px;
}


.sidebar {
    background-color: #F4F2EC;
    color: #696161;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 10px 0;
    margin-top: 40px;
    margin-left: 0px;
}


.header img {
    width: 35px;
    height: 35px;
    padding-left: 10px;
    display: flex;
}

.header p {
    display: flex;
    margin: 10px;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.user-info img {
    display: flex;
    width: 90px;
    height: 120px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 20px;
}

.user-info {
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    gap: 20px;
    display: flex;
}

.user-info p {
    font-size: 16px;
    color: #302D2D;
}


.menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

.menu li {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #889CFE;
    border-top: 1px solid #889CFE;
    border-bottom: 1px solid #889CFE;
    padding-bottom: 3px;
    margin-bottom: 8px;
    color: #353333;
    text-align: left;
}

.menu li:hover {
    background-color: #C7D0C4;
    border-top: 1px solid #C7D0C4;
    border-bottom: 1px solid #C7D0C4;
}

.menu p {
    margin-left: 10px;
    color: #353333;
}

.main-content {
    margin-top: 60px; /* Memberi jarak dari navbar */
    flex-grow: 1;
    padding: 20px;
    background-image: url("../img/Gambarbg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
}


.header1 {
    background-color: #889CFE;
    color: #353333;
    height: 80px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.header1 p {
    text-align: left;
}

.content {
    position: relative;
    padding: 20px;
    height: 350px;
    width: 50%;
    background-color: #D9D9D9 ;
    box-shadow: black;
}

.info {
    background-color: #F0E5BC;
    padding: 10px;
    border-left: 5px solid #ffcc00;
    margin-bottom: 20px;
}

.biodata {
    display: flex;
    align-items: center;
    gap: 10px;
}

.notif {
    float: right;
    background-color: #D9D9D9; /* Warna kotak */
    color: #FF0000; /* Warna teks */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan */
    text-align: left; /* Teks rata tengah */
    width: 376px;
    height: 197px;
}

.notif p {
    float: right;
    background-color: #FF0000 ; /* Warna kotak */
    color: #D9D9D9 ; /* Warna teks */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan */
    text-align: left; /* Teks rata tengah */
}

.garis {
    border-top: 1px solid black;
    margin: 10px 0;
  }

.biodata td {
    margin-bottom: 10px;
}

.biodata img {
    width: 100px;
    height: 135px;
}

.biodata table {
    border-collapse: collapse;
    width: 70%;
    margin-left: 10px;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #cc7a00;
}
